<header class="global-header">
	<button id="trigger-overlay" type="button">{% include 'final/images/menu.svg' %}</button>
	<h1 class="logoMobile"><a href="/">{% include 'final/images/logowhite.svg' %}</a></h1>
	<div class="overlay overlay-slidedown container">
		<nav class="main-nav cl-effect-main">
		<ul class="main-nav__list">
				<li><a href="/">{% include 'final/images/benefits.svg' %}Home</a></li>
				<li><a href="/about">{% include 'final/images/benefits.svg' %}About</a></li>
				<li><a href="/jobboard">{% include 'final/images/benefits.svg' %}Job Board</a></li>
				<li><a href="/tools">{% include 'final/images/benefits.svg' %}Tools & Resources</a></li>
				<li><a href="/stories">{% include 'final/images/benefits.svg' %}Stories</a></li>
				<li><a href="/benefits">{% include 'final/images/benefits.svg' %}Benefits</a></li>
		</ul>
		</nav>
	</div>
</header>